<div class="row">

	<div ng-show="error" class="alert alert-error">
		<button type="button" ng-click="error = false">&times;</button>
		{{errorMessage}}
	</div>
	<div class="span12">
		<form class="well" name="addCountryForm" ng-submit="addCountry()">
			<fieldset>
			<legend>Add a Country</legend>
				<div class="control-group">
					<label>ISO code:</label>
					<input type="text" class="" required ng-model="countryToAdd.iso" /> 
					<label>Name:</label> 
					<input	type="text" class="" required ng-model="countryToAdd.name">
					<div class="controls">
						<input type="submit" class="btn btn-success"
							ng-disabled="addCountryForm.$invalid" class="btn btn-success" />
						<input type="button" class="btn btn-warning" value="Annuler"
							ng-click="adding = false" />
					</div>
				</div>
			</fieldset>

		</form>
	</div>
</div>
