<div class="row">
	<div class="span12">
		<h3>AngularJS + HTML5 + CSS3</h3>
		<img class="thumbnail span3" style="float: left;"
			src="img/responsive-illustrations.png"
			title="How fit the Responsive Design with devices ?" />
		<div class="span6">
			<p>Vous allez découvrir ici une présentation de l'utilisation de
				AngularJS accompagné de HTML5 et CSS3 pour la réalisation d'une
				simple application orientée Responsive-Design grâce à
				Twitter-Bootstrap.</p>
			<p>Celle-ci permet un affichage adapté au desktop et au smart
				devices.</p>
			<p>
		</div>
		<a class="btn btn-primary btn-large" href="http://www.angularjs.org/">Learn more &raquo;</a>
	</div>
</div>