<div class="row">
    <h4>
        Add a country
    </h4>
    <span class="btn" ng-hide="adding" ng-click="adding = true">
        <i class="icon-plus">
        </i>
    </span>
    <div ng-show="error" class="alert alert-error">
        <button type="button" ng-click="error = false">
            &times;
        </button>
        {{errorMessage}}
    </div>
    <div ng-show="adding">
        <form name="addCountryForm" ng-submit="addCountry()">
            ISO code:
            <input type="text" required ng-model="countryToAdd.iso" />
            Name:
            <input type="text" required ng-model="countryToAdd.name">
            <input type="submit" ng-disabled="addCountryForm.$invalid" class="btn"
            />
            <input type="button" value="Annuler" ng-click="adding = false" class="btn"
            />
        </form>
    </div>
</div>
